<?xml version="1.0"?>
<config>
    <modules>
        <TBT_RewardsPointsOnly>
            <version>0.1.4</version>
        </TBT_RewardsPointsOnly>
    </modules>
    <global>
        <models>
            <rewardspointsonly>
                <class>TBT_RewardsPointsOnly_Model</class>
                <resourceModel>rewardspointsonly_mysql4</resourceModel>
            </rewardspointsonly>
            <rewardspointsonly_mysql4>
                <class>TBT_RewardsPointsOnly_Model_Mysql4</class>
                <entities>
                    <rule>
                        <table>rewards_pointsonly_rule</table>
                    </rule>
                    <rule_product>
                        <table>rewards_pointsonly_rule_product</table>
                    </rule_product>
                </entities>
            </rewardspointsonly_mysql4>
            
            <rewards>
                <rewrite>
                    <migration_export>TBT_RewardsPointsOnly_Model_Migration_Export</migration_export>
                    <migration_import>TBT_RewardsPointsOnly_Model_Migration_Import</migration_import>
                    <migration_delete>TBT_RewardsPointsOnly_Model_Migration_Delete</migration_delete>
                </rewrite>
            </rewards>
            
            <bundle>
                <rewrite>
                    <product_price>TBT_RewardsPointsOnly_Model_Bundle_Product_Price</product_price>
                </rewrite>
            </bundle>
        </models>
        <resources>
            <rewards_pointsonly_setup>
                <setup>
                    <module>TBT_RewardsPointsOnly</module>
                    <class>TBT_RewardsPointsOnly_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rewards_pointsonly_setup>
        </resources>

        <blocks>
            <rewardspointsonly>
                <class>TBT_RewardsPointsOnly_Block</class>
            </rewardspointsonly>
            
            <adminhtml>
                <rewrite>
                    <sales_order_create_search_grid_renderer_price>TBT_RewardsPointsOnly_Block_Adminhtml_Sales_Order_Create_Search_Grid_Renderer_Price</sales_order_create_search_grid_renderer_price>
                </rewrite>
            </adminhtml>
            
            <rewards>
                <rewrite>
                    <catalog_product_price>TBT_RewardsPointsOnly_Block_Catalog_Product_Price</catalog_product_price>
                    <catalog_product_bundle_price>TBT_RewardsPointsOnly_Block_Catalog_Product_Bundle_Price</catalog_product_bundle_price>
                </rewrite>
            </rewards>
        </blocks>

        <helpers>
            <rewardspointsonly>
                <class>TBT_RewardsPointsOnly_Helper</class>
            </rewardspointsonly>
        </helpers>
        
        <events>
            <sales_quote_collect_totals_before>
                <observers>
                    <rewardspointsonly_process_rules>
                        <type>singleton</type>
                        <class>rewardspointsonly/observer</class>
                        <method>processPointsOnlyRules</method>
                    </rewardspointsonly_process_rules>
                </observers>
            </sales_quote_collect_totals_before>
            <rewards_points_spent_on_cart_additional>
                <observers>
                    <rewardspointsonly_append_points_spendings_for_transfer>
                        <type>singleton</type>
                        <class>rewardspointsonly/observer</class>
                        <method>appendPointsSpendingsForTransfer</method>
                    </rewardspointsonly_append_points_spendings_for_transfer>
                </observers>
            </rewards_points_spent_on_cart_additional>
            <rewards_tally_points_spent_on_cart_additional>
                <observers>
                    <rewardspointsonly_tally_points_spendings_for_transfer>
                        <type>singleton</type>
                        <class>rewardspointsonly/observer</class>
                        <method>appendPointsSpendingsForTransfer</method>
                    </rewardspointsonly_tally_points_spendings_for_transfer>
                </observers>
            </rewards_tally_points_spent_on_cart_additional>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <rewards_append_quote_item_data_to_order_item>
                        <type>singleton</type>
                        <class>rewardspointsonly/observer</class>
                        <method>appendQuoteItemDataToOrderItem</method>
                    </rewards_append_quote_item_data_to_order_item>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <catalog_product_type_configurable_price>
                <observers>
                    <rewardspointsonly_force_zero_price>
                        <type>singleton</type>
                        <class>rewardspointsonly/observer</class>
                        <method>forceCartItemProductZeroPrice</method>
                    </rewardspointsonly_force_zero_price>
                </observers>
            </catalog_product_type_configurable_price>
        </events>
    </global>
    <frontend>
        <routers>
            <rewardspointsonly>
                <use>standard</use>
                <args>
                    <module>TBT_RewardsPointsOnly</module>
                    <frontName>rewardspointsonly</frontName>
                </args>
            </rewardspointsonly>
        </routers>
        <layout>
            <updates>
                <rewardspointsonly module="TBT_RewardsPointsOnly">
                    <file>rewardspointsonly.xml</file>
                </rewardspointsonly>
            </updates>
        </layout>
        <translate>
            <modules>
                <TBT_RewardsPointsOnly>
                    <files>
                        <default>TBT_RewardsPointsOnly.csv</default>
                    </files>
                </TBT_RewardsPointsOnly>
            </modules>
        </translate>
        <events>
            <bundle_product_view_config>
                <observers>
                    <rewardspointsonly_prepare_bundle_selections_pointsonly_config>
                        <type>singleton</type>
                        <class>rewardspointsonly/observer</class>
                        <method>prepareBundleSelectionsPointsOnlyConfig</method>
                    </rewardspointsonly_prepare_bundle_selections_pointsonly_config>
                </observers>
            </bundle_product_view_config>
        </events>
    </frontend>
    
    <adminhtml>
        <layout>
            <updates>
                <rewardspointsonly module="TBT_RewardsPointsOnly">
                    <file>rewardspointsonly.xml</file>
                </rewardspointsonly>
            </updates>
        </layout>
        <translate>
            <modules>
                <TBT_RewardsPointsOnly>
                    <files>
                        <default>TBT_RewardsPointsOnly.csv</default>
                    </files>
                </TBT_RewardsPointsOnly>
            </modules>
        </translate>
    </adminhtml>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <rewardspointsonly after="Mage_Adminhtml">TBT_RewardsPointsOnly_Adminhtml</rewardspointsonly>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <default>
        <rewards>
            <general>
                <pointsonly_enabled>1</pointsonly_enabled>
            </general>
        </rewards>
    </default>
</config>
