<?xml version="1.0"?>
<config>
    <modules>
        <Collinsharper_Custom>
            <version>20161020.1</version>
        </Collinsharper_Custom>
    </modules>
    <frontend>
        <layout>
            <updates>
                <wayne_chcustom>
                    <file>wayne_chcustom.xml</file>
                </wayne_chcustom>
            </updates>
        </layout>
        <routers>
            <chuploads>
                <use>standard</use>
                <args>
                    <module>Collinsharper_Custom</module>
                    <frontName>wnchcustom</frontName>
                </args>
            </chuploads>
        </routers>

    </frontend>
    <global>

        <events>
           <controller_action_layout_render_before>
               <observers>
                   <wayne_chcustomer_observer>
                       <type>singleton</type>
                       <class>Collinsharper_Custom_Model_Observer</class>
                       <method>logoutSite</method>
                   </wayne_chcustomer_observer>
               </observers>
           </controller_action_layout_render_before>
       </events>

        <models>
            <sales>
                <rewrite>
                    <service_order>Collinsharper_Custom_Model_Service_Order</service_order>
                </rewrite>
            </sales>
            <chcontacts>
                <rewrite>
                    <mailer_chform>Collinsharper_Custom_Model_Mailer_Chform</mailer_chform>
                </rewrite>
            </chcontacts>
        </models>
        <blocks>
            <chimage3d>
                <rewrite>
                    <adminhtml_report_sales_order_shipment_grid>Collinsharper_Custom_Block_Adminhtml_Report_Sales_Order_Shipment_Grid</adminhtml_report_sales_order_shipment_grid>
                </rewrite>
            </chimage3d>
			<wayne_chcustom>
                <class>Collinsharper_Custom_Block</class>
            </wayne_chcustom>
        </blocks>
        <rewrite>
            <wayne_chcustomer_upload>
                <from><![CDATA[#^/chuploads/index/*#]]></from>
                <to>/wnchcustom/index/</to>
            </wayne_chcustomer_upload>
            <wayne_chcustomer_reelbuilder>
                <from><![CDATA[#^/reelbuilder/index/viewshare/*#]]></from>
                <to>/wnchcustom/index/viewshare</to>
            </wayne_chcustomer_reelbuilder>

        </rewrite>
        <helpers>
            <wayne_chcustom>
                <class>Collinsharper_Custom_Helper</class>
            </wayne_chcustom>
            <orderedit>
				<rewrite>
					<reconcile>Collinsharper_Custom_Helper_Data</reconcile>
				</rewrite>
			</orderedit>
        </helpers>
    </global>
</config>
