<?xml version="1.0"?>
<config>
    <modules>
       <Collinsharper_Beanstreamprofiles>
          <version>0.8.14</version>
       </Collinsharper_Beanstreamprofiles>
    </modules>
 
    <global>
        <models>
            <beanstreamprofiles>
                <class>Collinsharper_Beanstreamprofiles_Model</class>
             </beanstreamprofiles>
        </models>
		<helpers>
            <beanstreamprofiles>
                <class>Collinsharper_Beanstreamprofiles_Helper</class>
             </beanstreamprofiles>
        </helpers>
		<blocks>
            <beanstreamprofiles><class>Collinsharper_Beanstreamprofiles_Block</class></beanstreamprofiles>
        </blocks>
		
        <resources>
            <beanstreamprofiles_setup>
                <setup>
                    <module>Collinsharper_Beanstreamprofiles</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
             </beanstreamprofiles_setup>
            <beanstreamprofiles_write>
                <connection>
                  <use>core_write</use>
                </connection>
             </beanstreamprofiles_write>
            <beanstreamprofiles_read>
               <connection>
                <use>core_read</use>
              </connection>
             </beanstreamprofiles_read>
        </resources>
				<sales>
			<order>
				<statuses>
					<pending_beanstreamprofilevbv translate="label"><label>Pending Beanstream VBV / 3DS</label></pending_beanstreamprofilevbv>
				</statuses>
				<states>
					<pending_beanstreamprofilevbv_payment translate="label">
						<label>Pending Beanstreaminterac Payment</label>
						<statuses>
							<pending_beanstreamprofilevbv/>
						</statuses>
					</pending_beanstreamprofilevbv_payment>
				</states>
			</order>
		</sales>
  
    </global>
	<frontend>
		<routers>
            <beanstreamprofiles>
                <use>standard</use>
                <args>
                    <module>Collinsharper_Beanstreamprofiles</module>
                    <frontName>beanstreamprofiles</frontName>
                </args>
            </beanstreamprofiles>
        </routers>
         <secure_url>
            <beanstreamprofiles_payment>/beanstreamprofiles/payment</beanstreamprofiles_payment>
            <beanstreamprofiles_customer>/beanstreamprofiles/customer</beanstreamprofiles_customer>
        </secure_url>
	        <layout>
            <updates>
                <beanstreamprofiles>
                    <file>beanstreamprofiles.xml</file>
                </beanstreamprofiles>
            </updates>
        </layout>
		  <translate>
            <modules>
                <beanstreamprofiles>
                    <files>
                        <default>beanstreamprofiles.csv</default>
                    </files>
                </beanstreamprofiles>
            </modules>
        </translate>
	</frontend>
    <default>
        <payment>
            <beanstreamprofiles>
                <active>0</active>
                <useccv>1</useccv>
                <model>beanstreamprofiles/paymentMethod</model>
                <order_status>1</order_status>
                <title>Credit Card (beanstreamprofiles)</title>
                <cctypes>AE,VI,MC,DI,JCB</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <cvv_approval_list>1,2,3,4,5,6</cvv_approval_list>
                <avs_approval_list>0,5,9,A,B,C,D,E,G,I,M,N,P,R,S,U,W,X,Y,Z</avs_approval_list>
            </beanstreamprofiles>
            <beanstreamprofilesstored>
                <active>0</active>
                <model>beanstreamprofiles/paymentMethodstored</model>
                <usecvv>0</usecvv>
                <order_status>1</order_status>
                <title>Stored - Credit Card</title>
                <payment_action>authorize</payment_action>
				<cctypes>AE,VI,MC,DI,JCB</cctypes>
				<allowspecific>0</allowspecific>
             </beanstreamprofilesstored>
         </payment>
    </default>
</config>