<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<TinyBrick_OrderArchive>
			<version>4.2.1</version>
		</TinyBrick_OrderArchive>
	</modules>
	<frontend>
		<routers>
			<orderarchive>
				<use>standard</use>
				<args>
					<module>TinyBrick_OrderArchive</module>
					<frontName>orderarchive</frontName>
				</args>
			</orderarchive>
		</routers>
		<layout>
			<updates>
				<orderarchive>
					<file>orderarchive.xml</file>
				</orderarchive>
			</updates>
		</layout>
	</frontend>
	<admin>
        <routers>
            <orderarchive>
                <use>admin</use>
                <args>
                    <module>TinyBrick_OrderArchive</module>
                    <frontName>orderarchive</frontName>
                </args>
            </orderarchive>
        </routers>
    </admin>
    <adminhtml>
    	<menu>
			<sales>
				<children>
					<archive_sales>
						<title>Archived Orders</title>
						<sort_order>20</sort_order>
						<action>orderarchive/adminhtml_orderarchive</action>
						<depends><config>toe/orderarchive/activate_archive_orders</config></depends>
					</archive_sales>
				</children>
			</sales>
		</menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <orderarchive>
                            <title>OrderArchive Module</title>
                            <sort_order>200</sort_order>
                        </orderarchive>
                    </children>
                </admin>
            </resources>   
        </acl>
        <layout>
            <updates>
                <orderarchive>
                    <file>orderarchive.xml</file>
                </orderarchive>
            </updates>
        </layout>
    </adminhtml>    
	<global>
        <models>
            <orderarchive>
                <class>TinyBrick_OrderArchive_Model</class>
                <resourceModel>orderarchive_mysql4</resourceModel>
            </orderarchive>
            <orderarchive_mysql4>
                <class>TinyBrick_OrderArchive_Model_Mysql4</class>
                <entities>
                    <orderarchive>
                        <table>orderarchive</table>
                    </orderarchive>
                </entities>
            </orderarchive_mysql4>
        </models>
        <resources>
            <orderarchive_setup>
                <setup>
                    <module>TinyBrick_OrderArchive</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orderarchive_setup>
            <orderarchive_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </orderarchive_write>
            <orderarchive_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orderarchive_read>
        </resources>
        <blocks>
            <orderarchive>
                <class>TinyBrick_OrderArchive_Block</class>
            </orderarchive>
            <adminhtml>
            	<rewrite>
            		<sales_order_grid>TinyBrick_OrderArchive_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
            	</rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <orderarchive>
                <class>TinyBrick_OrderArchive_Helper</class>
            </orderarchive>
        </helpers>		
	</global>
</config>
