<?xml version="1.0"?>
<config>
    <modules>
        <Collinsharper_FraudBlock>
            <version>0.1.6</version>
        </Collinsharper_FraudBlock>
    </modules>
    <global>
        <helpers>
            <fraudblock>
                <class>Collinsharper_FraudBlock_Helper</class>
            </fraudblock>
        </helpers>
        <blocks>
            <fraudblock>
                <class>Collinsharper_FraudBlock_block</class>
            </fraudblock>
        </blocks>
        <models>
            <fraudblock>
                <class>Collinsharper_FraudBlock_Model</class>
                <resourceModel>fraudblock_mysql4</resourceModel>
            </fraudblock>
            <fraudblock_mysql4>
                <class>Collinsharper_FraudBlock_Model_Mysql4</class>
                <entities>
                    <fraud>
                        <table>ch_fraud_block</table>
                    </fraud>
                    <fraudban>
                        <table>ch_fraud_ban</table>
                    </fraudban>
                    <chfraudtrack>
                        <table>ch_fraud_tracking</table>
                    </chfraudtrack>


                </entities>
            </fraudblock_mysql4>
        </models>
        <resources>
            <fraudblock_setup>
                <setup>
                    <module>Collinsharper_FraudBlock</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fraudblock_setup>
            <fraudblock_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fraudblock_write>
            <fraudblock_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fraudblock_read>
        </resources>
        <events>
            <controller_action_predispatch>
                <observers>
                    <cf_controller_action_predispatch_handler>
                        <type>model</type>
                        <class>fraudblock/observer</class>
                        <method>controllerActionPreDispatch</method>
                        <args></args>
                    </cf_controller_action_predispatch_handler>
                </observers>
            </controller_action_predispatch>

            <controller_action_postdispatch>
                <observers>
                    <fraudblock_controller_action_after>
                        <class>fraudblock/observer</class>
                        <method>controllerActionPostDispatch</method>
                    </fraudblock_controller_action_after>
                </observers>
            </controller_action_postdispatch>

            <sales_model_service_quote_submit_before>
                <observers>
                    <chfraud_ordercreate>
                        <class>fraudblock/observer</class>
                        <method>processOrderPlace</method>
                    </chfraud_ordercreate>
                </observers>
            </sales_model_service_quote_submit_before>

            <sales_model_service_quote_submit_failure>
                <observers>
                    <chfraud_orderfail>
                        <class>fraudblock/observer</class>
                        <method>processOrderFail</method>
                    </chfraud_orderfail>
                </observers>
            </sales_model_service_quote_submit_failure>

        </events>
    </global>
    <frontend>
        <routers>
            <chfbcb>
                <use>standard</use>
                <args>
                    <module>Collinsharper_FraudBlock</module>
                    <frontName>chfbcb</frontName>
                </args>
            </chfbcb>
        </routers>
        <layout>
            <updates>
                <chpartnership>
                    <file>chfraud.xml</file>
                </chpartnership>
            </updates>
        </layout>
        <events>
            <customer_register_success>
                <observers>
                    <chfraudblock_customer_register>
                        <class>fraudblock/observer</class>
                        <method>customerRegisterSuccess</method>
                    </chfraudblock_customer_register>
                </observers>
            </customer_register_success>
            <customer_register_success>
                <observers>
                    <chfraudblock_customer_register>
                        <class>fraudblock/observer</class>
                        <method>customerRegisterSuccess</method>
                    </chfraudblock_customer_register>
                </observers>
            </customer_register_success>
            <controller_action_postdispatch_customer_account_createpost>
                <observers>
                    <chfraudblock_customer_register_return>
                        <class>fraudblock/observer</class>
                        <method>customerRegisterSuccessPostDispatch</method>
                    </chfraudblock_customer_register_return>
                </observers>
            </controller_action_postdispatch_customer_account_createpost>
        </events>
    </frontend>
    <admin>
        <routers>
            <chfraud>
                <use>admin</use>
                <args>
                    <module>Collinsharper_FraudBlock</module>
                    <frontName>chfraud_admin</frontName>
                </args>
            </chfraud>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <chpartnership>
                    <file>chfraud.xml</file>
                </chpartnership>
            </updates>
        </layout>
    </adminhtml>

</config>
