<config>
	<modules>
		<Image3D_Reels>
			<version>1.0.0</version>
		</Image3D_Reels>
	</modules>
	<global>
		<helpers>
			<reels>
				<class>Image3D_Reels_Helper</class>
			</reels>
		</helpers>
		<models>
			<dispatcher>
				<class>Image3D_Reels_Model</class>
			</dispatcher>
			<reels>
				<class>Image3D_Reels_Model</class>
				<resourceModel>reels_mysql4</resourceModel>
			</reels>
			<reels_mysql4>
				<class>Image3D_Reels_Model_MySql4</class>
				<entities>
					<reel>
						<table>image3d_live.reels</table>
					</reel>
					<queue>
						<table>image3d_live.file_queue</table>
					</queue>
				</entities>
			</reels_mysql4>
		</models>
		<resources>
			<reels_write>
				<connection>
					<use>core_write</use>
				</connection>
			</reels_write>
			<reels_read>
				<connection>
					<use>core_read</use>
				</connection>
			</reels_read>
		</resources>
	</global>
	<frontend>
		<secure_url>
			<checkout_cart>/checkout/cart</checkout_cart>
			<enterprise_giftcardaccount>/giftcard/cart/add</enterprise_giftcardaccount>
		</secure_url>
		<routers>
			<reels>
				<use>standard</use>
				<args>
					<module>Image3D_Reels</module>
					<frontName>reels</frontName>
				</args>
			</reels>
		</routers>
		<!-- shane -->
	</frontend>
</config>
