<?xml version="1.0"?>
<config>
  <modules>
    <Collinsharper_Mfeed>
      <version>2.3</version>
    </Collinsharper_Mfeed>
  </modules>
	<global>
		<resources>
		  <chmfeed_setup>
			  <setup>
				  <module>Collinsharper_Mfeed</module>
			  </setup>
			  <connection>
				  <use>core_setup</use>
			  </connection>
		  </chmfeed_setup>
		  <chmfeed_write>
			  <connection>
				  <use>core_write</use>
			  </connection>
		  </chmfeed_write>
		  <chmfeed_read>
			  <connection>
				  <use>core_read</use>
			  </connection>
		  </chmfeed_read>
		</resources>
		<models>
			<chmfeed>
				<class>Collinsharper_Mfeed_Model</class>
			</chmfeed>
		</models>

	  <helpers>
		  <chmfeed>
			  <class>Collinsharper_Mfeed_Helper</class>
		  </chmfeed>
	  </helpers>
	</global>
	
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<chmfeed>
											<title>Collins Harper - Modules</title>
										</chmfeed>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<events>
            <controller_action_predispatch>
                <observers>
                    <chmfeed>
                        <type>singleton</type>
                        <class>chmfeed/feed</class>
                        <method>check</method>
                    </chmfeed>
                </observers>
            </controller_action_predispatch>
        </events>	
	</adminhtml>
	<default>
		<chmfeed>
			<feed>
				<url>www.collinsharper.com/blog/rss?identifier=Updates</url>
				<use_https>0</use_https>
				<check_frequency>86400</check_frequency>
				<enabled>1</enabled>
			</feed>
		</chmfeed>
	</default>			
</config>
