<?xml version="1.0"?>
<config>
    <sections>
        <carriers>
            <groups>
                <usps translate="label" module="usa">
                    <fields>
                        <allowed_qty translate="label">
                            <label>Maximum Qty Allowed</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>91</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </allowed_qty>
                    </fields>
                </usps>
            </groups>
        </carriers>
    </sections>
</config>
