<?xml version="1.0"?>
<config>
    <modules>
        <Collinsharper_Inquiry>
            <version>0.1.5</version>
        </Collinsharper_Inquiry>
    </modules>
    <global>
        <helpers>
            <chinquiry>
                <class>Collinsharper_Inquiry_Helper</class>
            </chinquiry>
        </helpers>
        <blocks>
            <chinquiry>
                <class>Collinsharper_Inquiry_Block</class>
            </chinquiry>
        </blocks>
        <models>
            <chinquiry>
                <class>Collinsharper_Inquiry_Model</class>
                <resourceModel>chinquiry_mysql4</resourceModel>
            </chinquiry>
            <chinquiry_mysql4>
                <class>Collinsharper_Inquiry_Model_Mysql4</class>
                <entities>
                    <inquiry>
                        <table>ch_inquiry</table>
                    </inquiry>
                </entities>
            </chinquiry_mysql4>
        </models>
        <resources>
            <chinquiry_setup>
                <setup>
                    <module>Collinsharper_Inquiry</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </chinquiry_setup>
            <chinquiry_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </chinquiry_write>
            <chinquiry_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </chinquiry_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <chfbcb>
                <use>standard</use>
                <args>
                    <module>Collinsharper_Inquiry</module>
                    <frontName>chinquiry</frontName>
                </args>
            </chfbcb>
        </routers>
    </frontend>
    <admin>
        <routers>
            <chinquiry>
                <use>admin</use>
                <args>
                    <module>Collinsharper_Inquiry</module>
                    <frontName>chinquiry_admin</frontName>
                </args>
            </chinquiry>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <chinquiry>
                    <file>chinquiry.xml</file>
                </chinquiry>
            </updates>
        </layout>
    </adminhtml>

</config>
