<?xml version="1.0"?>

<config>
    <modules>
        <Collinsharper_Sweettooth>
            <version>1.0.2</version>
        </Collinsharper_Sweettooth>
    </modules>
    <global>
        <helpers>
            <chsweettooth>
                <class>Collinsharper_Sweettooth_Helper</class>
            </chsweettooth>
        </helpers>
        <models>
            <chsweettooth>
                <class>Collinsharper_Sweettooth_Model</class>
                <resourceModel>chsweettooth_resource</resourceModel>
            </chsweettooth>
            <chsweettooth_resource>
                <class>Collinsharper_Sweettooth_Model_Resource</class>
                <entities>
                    <ch_sweettooth_event>
                        <table>ch_sweettooth_event</table>
                    </ch_sweettooth_event>
                </entities>
            </chsweettooth_resource>
        </models>
        <events>
            <customer_register_success>
                <observers>
                    <chsweettooth_new_customer>
                        <type>singleton</type>
                        <class>chsweettooth/observer</class>
                        <method>newCustomer</method>
                    </chsweettooth_new_customer>
                </observers>
            </customer_register_success>
            <sales_order_place_after>
                <observers>
                    <chsweettooth_new_order>
                        <type>singleton</type>
                        <class>chsweettooth/observer</class>
                        <method>newOrder</method>
                    </chsweettooth_new_order>
                </observers>
            </sales_order_place_after>
            <sales_order_save_after>
                <observers>
                    <chsweettooth_new_order>
                        <type>singleton</type>
                        <class>chsweettooth/observer</class>
                        <method>updateOrder</method>
                    </chsweettooth_new_order>
                </observers>
            </sales_order_save_after>
        </events>
        <resources>
            <chsweettooth_setup>
                <setup>
                    <module>Collinsharper_Sweettooth</module>
                </setup>
            </chsweettooth_setup>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <chsweettooth module="chsweettooth">
                                            <title>Sweettooth All</title>
                                        </chsweettooth>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <module>
                    <file>ch_sweettooth.xml</file>
                </module>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <sweet_q>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>chsweettooth/observer::sweetQ</model>
                </run>
            </sweet_q>
        </jobs>
    </crontab>
    <default>
        <chsweettooth>
            <chsweettooth_api_conf>
                <order_status>complete,closed,shipped</order_status>
            </chsweettooth_api_conf>
        </chsweettooth>
    </default>
</config>
