<?xml version="1.0" encoding="utf-8" ?>
<config>
    <tabs>
        <chreel translate="label" module="image3d_customerextend">
            <label>Image3d Reels</label>
            <sort_order>1000</sort_order>
        </chreel>
    </tabs>
    <sections>
        <chreel_options translate="label" module="image3d_customerextend">
            <label>Reel options</label>
            <tab>chreel</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <design>
                    <label>Design</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <reel_only_title>
                            <label>Label for "Reel Only" option</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </reel_only_title>
                        <viewer_set_title>
                            <label>Label for "Reel and Viewer Set" option</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </viewer_set_title>
                        <imprinted_set_title>
                            <label>Label for "Imprinted Viewer &amp; Reel Set" option</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </imprinted_set_title>
                    </fields>
                </design>
            </groups>
        </chreel_options>
    </sections>

</config>
