<?xml version="1.0"?>
<config>
    <modules>
        <Collinsharper_Image3d>
            <version>0.2.3</version>
        </Collinsharper_Image3d>
    </modules> 
    <global>
        <blocks>
            <chimage3d>
                <class>Collinsharper_Image3d_Block</class>
            </chimage3d>
        </blocks>
        <models>
            <chimage3d>
                <class>Collinsharper_Image3d_Model</class>
                <resourceModel>chimage3d_resource</resourceModel>
            </chimage3d>
            <chimage3d_resource>
                <class>Collinsharper_Image3d_Model_Resource</class>
                <entities>
                    <deposit>
                        <table>chimage3d_deposit</table>
                    </deposit>
                </entities>
            </chimage3d_resource>
            <usa>
                <rewrite>
                    <shipping_carrier_ups>Collinsharper_Image3d_Model_Ups</shipping_carrier_ups>
                </rewrite>
            </usa>
        </models>
        <resources>
            <chimage3d_setup>
                <setup>
                    <module>Collinsharper_Image3d</module>
                    <class>Collinsharper_Image3d_Model_Resource_Setup</class>
                </setup>
            </chimage3d_setup>
            <chimage3d_read>
                <connection>
                    <use>default_read</use>
                </connection>
            </chimage3d_read>
            <chimage3d_write>
                <connection>
                    <use>default_write</use>
                </connection>
            </chimage3d_write>
        </resources>
   <helpers>
            <chimage3d>
                <class>Collinsharper_Image3d_Helper</class>
            </chimage3d>
            <core>
                <encryption_model>Collinsharper_Image3d_Model_Encryption</encryption_model>
            </core>
        </helpers>

   <salesrule>
            <coupon>
                <charset>
                    <alphanum>ABCDEFGHJKMNPQRSTUVWXYZ23456789</alphanum>
                    <alpha>ABCDEFGHJKMNPQRSTUVWXYZ</alpha>
                    <num>23456789</num>
                </charset>
            </coupon>
        </salesrule>

    </global>
    <admin>
        <routers>
            <chimage3d_admin>
                <use>admin</use>
                <args>
                    <frontName>chimage3d_admin</frontName>
                    <modules>
                        <Collinsharper_Image3d>Collinsharper_Image3d_Adminhtml</Collinsharper_Image3d>
                    </modules>
                </args>
            </chimage3d_admin>
            <adminhtml>
                <args>
                    <modules>
                        <Collinsharper_Image3d_Adminhtml before="Mage_Adminhtml">Collinsharper_Image3d_Adminhtml</Collinsharper_Image3d_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <chimage3d>
                    <file>chimage3d.xml</file>
                </chimage3d>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <chimage3d_customer_columnadd>
                        <type>singleton</type>
                        <class>chimage3d/adminhtml_customergrid_observer</class>
                        <method>beforeBlockToHtml</method>
                    </chimage3d_customer_columnadd>
                </observers>
            </core_block_abstract_to_html_before>
            <eav_collection_abstract_load_before>
                <observers>
                    <chimage3d_customer_columnadd_data>
                        <class>chimage3d/adminhtml_customergrid_observer</class>
                        <method>beforeCollectionLoad</method>
                    </chimage3d_customer_columnadd_data>
                </observers>
            </eav_collection_abstract_load_before>
        </events>
    </adminhtml>

    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <controller_action_before>
                        <class>chimage3d/observer</class>
                        <method>frontControllerActionCheckoutLoggedIn</method>
                    </controller_action_before>
                </observers>
            </controller_action_predispatch>
            <controller_response_redirect>
                <observers>
                    <collinsharper_image3d_response_redirect>
                        <class>Collinsharper_Image3d_Model_Observer</class>
                        <method>controllerResponseRedirect</method>
                    </collinsharper_image3d_response_redirect>
                </observers>
            </controller_response_redirect>
        </events>
        <translate>
            <modules>
                <chreelb>
                    <files>
                        <default>chimage3d.csv</default>
                    </files>
                </chreelb>
            </modules>
        </translate>

    </frontend>
    <default>
    <image3d>
    <base_template></base_template>
    </image3d>
</default>


</config>
