<?xml version="1.0"?>
<config>
    <modules>
       <Collinsharper_Beanpro>
          <version>0.8.15</version>
       </Collinsharper_Beanpro>
    </modules>
 
    <global>
        <models>
            <beanpro>
                <class>Collinsharper_Beanpro_Model</class>
             </beanpro>
        </models>
		<helpers>
            <beanpro>
                <class>Collinsharper_Beanpro_Helper</class>
             </beanpro>
        </helpers>
		<blocks>
            <beanpro>
                <class>Collinsharper_Beanpro_Block</class>
            </beanpro>
        </blocks>
		
        <resources>
            <beanpro_setup>
                <setup>
                    <module>Collinsharper_Beanpro</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
             </beanpro_setup>
            <beanpro_write>
                <connection>
                  <use>core_write</use>
                </connection>
             </beanpro_write>
            <beanpro_read>
               <connection>
                <use>core_read</use>
              </connection>
             </beanpro_read>
        </resources>
				<sales>
			<order>
				<statuses>
					<pending_beanstreamprofilevbv translate="label"><label>Pending Beanstream VBV / 3DS</label></pending_beanstreamprofilevbv>
				</statuses>
				<states>
					<pending_beanstreamprofilevbv_payment translate="label">
						<label>Pending Beanstreaminterac Payment</label>
						<statuses>
							<pending_beanstreamprofilevbv/>
						</statuses>
					</pending_beanstreamprofilevbv_payment>
				</states>
			</order>
		</sales>
  
    </global>
	<frontend>
		<routers>
            <beanpro>
                <use>standard</use>
                <args>
                    <module>Collinsharper_Beanpro</module>
                    <frontName>beanpro</frontName>
                </args>
            </beanpro>
        </routers>
         <secure_url>
            <beanpro_payment>/beanpro/payment</beanpro_payment>
            <beanpro_customer>/beanpro/customer</beanpro_customer>
        </secure_url>
	        <layout>
            <updates>
                <beanpro>
                    <file>beanpro.xml</file>
                </beanpro>
            </updates>
        </layout>
		  <translate>
            <modules>
                <beanpro>
                    <files>
                        <default>beanpro.csv</default>
                    </files>
                </beanpro>
            </modules>
        </translate>
	</frontend>
    <adminhtml>
        <layout>
            <updates>
                <beanpro>
                    <file>beanpro.xml</file>
                </beanpro>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <payment>
            <beanpro>
                <active>0</active>
                <useccv>1</useccv>
                <zero_dollar_auth>0</zero_dollar_auth>
                <model>beanpro/paymentMethod</model>
                <order_status>1</order_status>
                <title>Credit Card - Provided by CollinsHarper.com</title>
                <cctypes>AE,VI,MC,DI,JCB</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <cvv_approval_list>1,2,3,4,5,6</cvv_approval_list>
                <avs_approval_list>0,5,9,A,B,C,D,E,G,I,M,N,P,R,S,U,W,X,Y,Z</avs_approval_list>
            </beanpro>
            <beanprostored>
                <active>0</active>
                <model>beanpro/paymentMethodstored</model>
                <usecvv>0</usecvv>
                <order_status>1</order_status>
                <title>Credit Card Stored - Provided by CollinsHarper.com</title>
                <payment_action>authorize</payment_action>
		<cctypes>AE,VI,MC,DI,JCB</cctypes>
		<allowspecific>0</allowspecific>
            </beanprostored>
         </payment>
        
    </default>
</config>
