<?xml version="1.0"?>
<config>
  <modules>
    <Collinsharper_Reelbuilder>
      <version>0.1.0</version>
    </Collinsharper_Reelbuilder>
  </modules>
  <frontend>
    <routers>
      <reelbuilder>
        <use>standard</use>
        <args>
          <module>Collinsharper_Reelbuilder</module>
          <frontName>reelbuilder</frontName>
        </args>
      </reelbuilder>
    </routers>
    <layout>
      <updates>
        <reelbuilder>
          <file>reelbuilder.xml</file>
        </reelbuilder>
      </updates>
    </layout>
  </frontend>
  <global>
    <helpers>
      <reelbuilder>
        <class>Collinsharper_Reelbuilder_Helper</class>
      </reelbuilder>
    </helpers>
    <blocks>
      <reelbuilder>
        <class>Collinsharper_Reelbuilder_Block</class>
      </reelbuilder>
    </blocks>
  </global>
</config>