<?xml version="1.0"?>
<config>
    <modules>
        <Collinsharper_Chcustomeruploads>
            <version>0.2.0</version>
        </Collinsharper_Chcustomeruploads>
    </modules>
    <global>
        <models>
            <collinsharper_chcustomeruploads>
                <class>Collinsharper_Chcustomeruploads_Model</class>
                <resourceModel>collinsharper_chcustomeruploads_resource</resourceModel>
            </collinsharper_chcustomeruploads>
            <collinsharper_chcustomeruploads_resource>
                <class>Collinsharper_Chcustomeruploads_Model_Resource</class>
                <entities>
                    <customer_entity_chuploads>
                        <table>customer_entity_chuploads</table>
                    </customer_entity_chuploads>
                </entities>
            </collinsharper_chcustomeruploads_resource>
        </models>
        <blocks>
            <collinsharper_chcustomeruploads>
                <class>Collinsharper_Chcustomeruploads_Block</class>
            </collinsharper_chcustomeruploads>
        </blocks>
        <helpers>
            <collinsharper_chcustomeruploads>
                <class>Collinsharper_Chcustomeruploads_Helper</class>
            </collinsharper_chcustomeruploads>
        </helpers>
        <resources>
            <collinsharper_chcustomeruploads_setup>
                <setup>
                    <module>Collinsharper_Chcustomeruploads</module>
                </setup>
            </collinsharper_chcustomeruploads_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <chuploads_admin>
                <use>admin</use>
                <args>
                    <frontName>chuploads_admin</frontName>
                    <modules>
                        <Collinsharper_Chcustomeruploads>Collinsharper_Chcustomeruploads_Adminhtml</Collinsharper_Chcustomeruploads>
                    </modules>
                </args>
            </chuploads_admin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <chuploads>
                    <file>chuploads.xml</file>
                </chuploads>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <chuploads>
                <use>standard</use>
                <args>
                    <module>Collinsharper_Chcustomeruploads</module>
                    <frontName>chuploads</frontName>
                </args>
            </chuploads>
        </routers>
        <layout>
            <updates>
                <chuploads>
                    <file>chuploads.xml</file>
                </chuploads>
            </updates>
        </layout>
    </frontend>
</config>
