<?xml version="1.0"?>
<config>
    <modules>
        <Collinsharper_ChangeShippingMethod>
            <version>1.0.0</version>
        </Collinsharper_ChangeShippingMethod>
    </modules> 
    <global>
        <models>
            <chswitch>
                <class>Collinsharper_ChangeShippingMethod_Model</class>
            </chswitch>
        </models>
        <blocks>
            <chswitch>
                <class>Collinsharper_ChangeShippingMethod_Block</class>
            </chswitch>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ch_switch after="Mage_Adminhtml">Collinsharper_ChangeShippingMethod_Adminhtml</ch_switch>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <chswitch>
                        <type>model</type>
                        <class>Collinsharper_ChangeShippingMethod_Model_Observer</class>
                        <method>setInfoTemplate</method>
                    </chswitch>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>   
        <layout>
            <updates>
                <chswitch>
                    <file>chswitch.xml</file>
                </chswitch>
            </updates>
        </layout>
    </adminhtml>
</config>
