<?xml version="1.0"?>
<config>
  <modules>
    <Collinsharper_Upsaddressvalidation>
      <version>0.4.5</version>
    </Collinsharper_Upsaddressvalidation>
  </modules>
  <frontend>
    <routers>
      <chupsaddressvalidation>
        <use>standard</use>
          <args>
            <module>Collinsharper_Upsaddressvalidation</module>
            <frontName>chupsaddressvalidation</frontName>
          </args>
      </chupsaddressvalidation>
    </routers>
		<layout>
		  <updates>
			<chupsaddressvalidation>
			  <file>chupsaddressvalidation.xml</file>
			</chupsaddressvalidation>
		  </updates>
		</layout>
      controller_front_send_response_before
      <events>
          <controller_front_send_response_before>
              <observers>
                  <chupsaddressvalidation_controller_front_send_response_before>
                      <type>singleton</type>
                      <class>Collinsharper_Upsaddressvalidation_Model_Observer</class>
                      <method>controller_front_send_response_before</method>
                  </chupsaddressvalidation_controller_front_send_response_before>
              </observers>
          </controller_front_send_response_before>
          <core_block_abstract_to_html_after>
              <observers>
                  <chupsaddressvalidation_onepage_shipping>
                      <type>singleton</type>
                      <class>Collinsharper_Upsaddressvalidation_Model_Observer</class>
                      <method>updateShippingBlockOptions</method>
                  </chupsaddressvalidation_onepage_shipping>
              </observers>
          </core_block_abstract_to_html_after>
      </events>
  </frontend>
  <global>
    <helpers>
      <chupsaddressvalidation>
        <class>Collinsharper_Upsaddressvalidation_Helper</class>
      </chupsaddressvalidation>
    </helpers>
	<blocks>
	  <chupsaddressvalidation>
		<class>Collinsharper_Upsaddressvalidation_Block</class>
	  </chupsaddressvalidation>
	</blocks>
      <models>
	  <chupsaddressvalidation>
		<class>Collinsharper_Upsaddressvalidation_Model</class>
	  </chupsaddressvalidation>
	</models>
  </global>
  <admin>
	<routers>
	  <chupsaddressvalidation>
	    <use>admin</use>
		<args>
		  <module>Collinsharper_Upsaddressvalidation</module>
		  <frontName>chupsaddressvalidation</frontName>
		</args>
	  </chupsaddressvalidation>
	</routers>
  </admin>
  <adminhtml>
	<layout>
	  <updates>
		<chupsaddressvalidation>
		  <file>chupsaddressvalidation.xml</file>
		</chupsaddressvalidation>
	  </updates>
	</layout>
    <events>
      <controller_front_send_response_before>
          <observers>
              <chupsaddressvalidation_controller_front_send_response_before>
                  <type>singleton</type>
                  <class>Collinsharper_Upsaddressvalidation_Model_Observer</class>
                  <method>controller_front_send_response_before</method>
              </chupsaddressvalidation_controller_front_send_response_before>
          </observers>
      </controller_front_send_response_before>
      <core_block_abstract_to_html_after>
          <observers>
              <chupsaddressvalidation_onepage_shipping>
                  <type>singleton</type>
                  <class>Collinsharper_Upsaddressvalidation_Model_Observer</class>
                  <method>updateShippingBlockOptions</method>
              </chupsaddressvalidation_onepage_shipping>
          </observers>
      </core_block_abstract_to_html_after>
    </events>
  </adminhtml>
</config> 